<<<<<<< HEAD
.a {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .a .div {
    background-color: #d9d9d9;
    height: 420px;
    position: relative;
    width: 297px;
  }
  
  .a .rectangle {
    background-color: #69c46d;
    border-radius: 0px 35px 0px 35px;
    height: 57px;
    left: 52px;
    position: absolute;
    top: 17px;
    width: 85px;
  }
  
  .a .overlap-group {
    background-color: #ffffff;
    border-radius: 10px;
    height: 299px;
    left: 52px;
    position: absolute;
    top: 98px;
    width: 194px;
  }
  
  .a .rectangle-2 {
    background-color: #4c4a49;
    border-radius: 10px;
    height: 73px;
    left: 20px;
    position: absolute;
    top: 157px;
    width: 155px;
  }
  
  .a .rectangle-3 {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 122px;
    left: 20px;
    position: absolute;
    top: 19px;
    width: 155px;
  }
  
  .a .overlap {
    background-color: #69c46d;
    border-radius: 25px;
    height: 37px;
    left: 20px;
    position: absolute;
    top: 251px;
    width: 155px;
  }
  
  .a .text-wrapper {
    color: #ffffff;
    font-family: "Noto Sans-DisplayBold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 46px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 7px;
  }
=======
.container {
  background-color: white;
  width: 300px;
  height: 500px;
  text-align: center;
}

.main {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px
}

header {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  font-weight: 700;
  gap: 5px;
  margin-bottom: 10px;
}

img {
  width: 200px;
}

.logo {
  background-color: #69c46d;
  border-radius: 0px 35px 0px 35px;
  height: 70px;
  width: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

button {
  background-color: #69c46d;
  border-radius: 25px;
  border: none;
  height: 40px;
  width: 155px;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.brand {
  font-weight: 700;
  font-size: 24px;
}

.product {
  font-size: 16px;
  width: 250px;
}
>>>>>>> ca42ccc673ea32f5c9e35b8e4c768a93b820fab5
