.container {
  background-color: #d9d9d9;
  /* padding: 20px 50px; */
  text-align: center
}

header {
  display: flex;
  align-items: center;
  font-size: 42px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  gap: 5px;
  margin-bottom: 20px;
}

.logo {
  background-color: #69c46d;
  border-radius: 0px 35px 0px 35px;
  height: 70px;
  width: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}