.main-4 {
    text-align: center;
    width: 300px;
    height: 372px;
    display: flex;
    flex-direction: column;
    justify-content: column;
}
.heading {
    background-color: white;
    width: 300px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 16px !important;
    padding: 4px 0px 10px 8px;
}

.logo-4 {
    background-color: #69c46d;
    border-radius: 0px 35px 0px 35px;
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.main-container {
    margin-top: 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 300px;
}

.upper-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    gap: 10px;
}
.image-4 {
    height: 100px;
    width: 140px;
}
.image-4-1 {
    max-width: 140px;
    height: 100px;
    border-radius: 25px;
}
.score-4{
    border-radius: 25px;
    background-color: white;
    height: 100px;
    width: 150px;
    font-family: 'Noto Sans', sans-serif;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score {
    font-size: 42px;
    font-weight: 700;
}

.subtitle {
    font-size: 12px;
}

.lower-container {
    background-color: white;
    margin-top: 10px;
    height: 100%;
}

.upper-container .image-container, .upper-container .image-description {
    border-radius: 10px;
    background-color: #4c4a49;
    height: 80px;
    width: 80px;
}

.outerlowercontainer {
    border-radius: 0 0 10px 10px;
    height: 100%;
    padding-bottom: 5px;
    background: #4C4A49;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.product-description {
    text-align: left;
    padding-top: 12px;
    padding-left: 12px;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
    width: 280px;
    border-radius: 10px;
    height: 100%;
}

.tabs {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.tabs button {
    width: 94px;
    height: 10px;
    background: #7A7776;
    border: none;
    height: 40px;
    width: 140px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    border-radius: 25% 25% 0% 0%;
}

button.selected {
    background: #4C4A49;
}
