.bar {
    height: 15px;
    background-color: rgba(144, 202, 249, 0.313);
    width: 220px;
    border-radius: 3px;
}

.bar-child {
    height: 15px;
    background-color: rgb(144, 202, 249);
    /* width: 10%; */
    /* border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; */
    border-radius: 3px;

}

.main-3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px
}

.text-3 {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-weight: 700;
    gap: 5px;
    margin-bottom: 10px;
}
.speed-3 {
    display: flex;
}

.number-3 {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-weight: 700;
    gap: 5px;
    margin-bottom: 10px;
    flex-direction: column;
}
